version: "3.9"

services:
  frontend:
    container_name: frontend-app
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - "80"
    env_file:
      - .env
    restart: unless-stopped
